body, select, input, textarea {
  color: #333;
  font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a, a:active, a:visited {
    color: #607890;
}

a:hover {
    color: #036;
}

:focus {
    outline: 1px dotted;
}

#wheel_canvas {
}

.header {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */

@media print {
  * {
     background: transparent !important;
     color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
     text-shadow: none !important;
     -ms-filter: none !important;
     filter:none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
      content: "";
  } /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3; widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

